:root {
  --first-title-color: #ffffff;
  --second-title-color: #212121;
  --accent: #2196f3;
  --body-color: #757575;
  --bg-color: #e5e5e5;
  --first-text-color: #ffffff;
}
/* -=-------------------------сброс */
p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* /-------------------------*общие стили  */

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  color: var(--body-color);
  letter-spacing: 0.03em;
  font-family: 'Roboto', sans-serif;
}

/* ------------------header главная страница */
.header {
  background-color: var(--first-title-color);
  border-bottom: 1px solid #ececec;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent);

  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 93px;
}

.logo {
  color: #000000;
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--second-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.current {
  color: var(--accent);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent);
}

.header-list {
  display: flex;
}

.header-item + .header-item {
  margin-left: 50px;
}

.header-contacts:focus,
.header-contacts:hover {
  color: var(--accent);
}
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14x;
  letter-spacing: 0.02em;

  color: var(--body-color);

  padding-top: 32px;
  padding-bottom: 32px;
}
/* -----------------hero------------------- */
.hero-title {
  width: 695px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-title-color);
}

.hero {
  padding: 200px 0;
  text-align: center;
}

.hero-btn {
  padding: 10px 32px;

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: var(--first-title-color);
  background-color: #2196f3;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--first-text-color);
  background-color: #188ce8;
}

.overlay {
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;

  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/fon.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* ------------------about----------------
 */
.about {
  padding-bottom: 0;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
}

.about-item {
  width: 270px;
  margin-right: 30px;
}

.about-item:nth-last-child(4n) {
  margin-right: 0;
}

.about-after-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-title-color);
}
.about-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ------------------------work */

.work-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--second-title-color);
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-item {
  width: 370px;
  margin-right: 30px;
}

.work-item:nth-child(3n) {
  margin-right: 0;
}

/* ----------------------team---------- */

.team {
  background-color: #f5f4fa;
}

.team-box {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--second-title-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  width: 270px;
  margin-right: 30px;
}

.team-item:nth-child(4n) {
  margin-right: 0;
}

.team-after-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--second-title-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* ------------------------------footer */
.footer {
  background-color: #2f303a;
}
.brand {
  color: var(--first-text-color);
}

.adr-link {
  display: block;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

a[href="https://www.google.com.ua/maps/place/бул.+Леси+Украинки,+26"]
{
  color: var(--first-text-color);
}

.adr-item {
  display: block;
}

.adr-item:not(:last-child) {
  margin-bottom: 9px;
}

.adr-link:hover,
.adr-link:focus {
  color: var(--accent);
}

/* -------------------портфолио ----------------------------*/

/* ---------------------projects */

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.projects-item:nth-child(3n) {
  margin-right: 0;
}

.projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.btn-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.btn-item + .btn-item {
  margin-left: 8px;
}

.buttons {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;

  padding: 6px 22px;
}
.buttons:hover,
.buttons:focus {
  color: var(--first-text-color);
  background-color: var(--accent);
}

.projects-after-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.projects-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.projects-box {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}
/* ------------------------------footer */

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent);

  display: block;
  margin-bottom: 20px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
